@tailwind base;
@tailwind components;
@tailwind utilities;


.stacked-div:nth-child(2) {
    width: 352px;
}

.stacked-div:nth-child(2) {
    margin-top: 20px;
}
.stacked-div:nth-child(3) {
    margin-top: -170px;
}

.stacked-div:nth-child(4) {
    margin-top: -170px;
}

